<footer class="footer">
  <small>
    For more information on this app, please visit <a href="https://github.com/pndemo/micro_news">micro news</a>.
  </small>
  <ul>
    <li><small><%= link_to "About", about_path %></small></li>
    <li><small><%= link_to "Contact", contact_path %></small></li>
  </ul>
</footer>
